# Adjust to actual memory requirement, must be power of 2
sgx.enclave_size = "512M"
sgx.max_threads = 16
sgx.remote_attestation = "dcap"
sys.stack.size = "4M"
sys.brk.max_size = "1M"
loader.log_level = "trace"
loader.uid = 1654
libos.entrypoint = "/app/dotnetapp"
